

  .section-background {
    background: linear-gradient(to bottom, #fff 50%, #000 50%);
  }
  
  /* Add this class to your section element */
  .dark-section {
    background: linear-gradient(to bottom, #000 50%, #000 50%);
  }
  
  .light-section {
    background: linear-gradient(to bottom, #fff 50%, #fff 50%);
  }
  